# Python
__pycache__/
*.pyc
venv/
*.egg-info/

# Logs and Outputs
*.log
*.cap
hs/

# Input data for wordlist generation
app/aist/INPUT

# Important Environment
.env

# IDE specific
.idea/
.vscode/
.DS_Store

